:root{
  --main-color: #fff9f5;
  --darker-color:#dcc1b0;
  --accent-color: #869dab;
  --dark-bg:#3d313f;
  --light-bg:#847072;
}

body {
margin: 0;
font-family: "Microsoft JhengHei", sans-serif;
}

header {
height: 100vh; /* 佔滿整個視窗高度 */
background: url("class-photo.jpg") no-repeat center center/cover;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
position: relative;
}

/* 背景暗一點，讓文字更清楚 */
header::before {
content: "";
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
background-color: var(--darker-color); 
}

header nav a{
    color: aliceblue;
    margin: 0 10px;
    font-size:larger;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
    color: var(--dark-bg);
}

nav{
    position:fixed ;
    top: 0%;
    width: 100%;
    background-color:var(--light-bg);
    backdrop-filter: blur(6px);
    padding: 20px 0;
    z-index: 1000;
}

header h1, header p {
position: relative; /* 讓文字浮在遮罩之上 */
z-index: 1;
}

header h1 {
font-size: 4rem;
margin: 0;
}

header p {
font-size: 1.5rem;
margin-top: 20px;
}



.wrap{
  overflow:hidden;
}

table{
  font-family: 'Microsoft JhengHei', sans-serif;
  border-radius :8px;
  margin: 0 auto;
}

th{
    background-color: var(--accent-color);
    width: 100px;
    height: 80px;
    text-align: center;
    color: aliceblue;
}

td{
  background-color:var(--accent-color);
  color:aliceblue;
  width: 100px;
  height:80px;
  text-align:center;
}

tr{
  border-bottom: 1px solid #2a2a2a;
  border-right: 1px solid #2a2a2a;
}



/* 其他區塊 */
section{
padding: 80px 50px;
text-align: center;
background-color: (--main-color);
}

section:nth-of-type(even){
  background-color: var(--main-color);
}

.gallary{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallary img{
  width: 200px;
  border-radius:10px ;
  cursor: pointer;
  transition: transform 0.2s;
}

.gallary img :hover{
  transform: scale(1.05);
}

#lightbox{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2000;
  width: 100%;  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

#lightbox-content img,
#lightbox-content video{
  max-width:80%;  max-height: 80%;
  border-radius:10px ;
}

#lightbox.close{
  position: absolute;
  top: 20px; right: 40px;
  font-size: 40px;
  color: aliceblue;
  cursor: pointer;
}
footer {
  background-color: var(--darker-color);
  color: black;
  text-align: center;
  padding: 15px;
}
